NEXT_PUBLIC_AZURE_CLIENT_ID=
NEXT_PUBLIC_AZURE_AUTHORITY=https://login.microsoftonline.com/organizations
NEXT_PUBLIC_API_SCOPE=api://your-client-id/access_as_user
NEXT_PUBLIC_API_URL=http://localhost:8000/api/v1
